//Compile css command:
//sass --no-source-map traxi.scss:../traxi.css

@charset "utf-8";

// Import Traxi Colors
@import "colors.sass";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

$primary: $groen;
$light: $tile-green;
$success: $groen;

//$text: darken($groen, 40%);
$text: darken($groen, 40%);
$link: darken($blauw, 20%);


// Update some of Bulma's component variables
$body-background-color: $bg-green;
$navbar-background-color: $body-background-color;
$footer-background-color: $body-background-color;

$control-border-width: 2px;
//$inpuät-border-color: transparent;
//$input-shadow: none;

// Import only what you need from Bulma
@import "../bulma/bulma.sass";
@import "bam.scss";
@import "captainicon";
