.avatar-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
}

.avatar {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
