/* home.html*/
.hero.has-bg-img {
    background: url('/static/images/home_hero.png')left top;
    background-size:cover;
}

.has-indent-left {
    text-indent: 1.5em;
}

.has-indent-1 {
    direction: rtl;
    text-indent: 1em;
}

.has-indent-2 {
    direction: rtl;
    text-indent: 1.7em;
}

@media screen and (max-width: 1087px) {
    .is-size-8-touch {
        font-size: 0.50rem !important;
    }
}

.is-small-pad {
    padding: 0.1em 1.5rem 1rem;
  }

.p-icon {
    position: relative;
}

.icon-bg {
    font-size: 60px;
    color: sandybrown;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.icon-bgs {
    font-size: 40px;
    color: whitesmoke;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    white-space: pre;
}
/* */