<article class="media box has-background-light">
    <figure class="media-left">
        <div class="avatar-cropper">
            <img class='avatar' onerror="this.src='/static/images/blank-profile-picture.png';" src="/static/profile_pics/{{ driver.profile_pic_filename }}">
        </div>
    </figure>
    <div class="media-content">
        <div class="content">
            <a href="{{ url_for('drivers.user', username=driver.username) }}" id="link-{{  driver.username  }}"><strong>
                    {{ driver.username }}</strong></a>
            <p><strong>{{ driver.country }}</strong> {{ driver.city }}<br>
                {{ driver.about }}</p>
        </div>
    </div>
</article>