{% extends "base.html" %}

{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                About Traxi
            </h1>
            <h2 class="subtitle has-text-centered">
                Een leuke pakkende slogan
            </h2>
        </div>
    </div>
</section>
<section>
    <div class="columns">
        <div class="column">
            <div class='box'>
                <div class='has-text-centered'>
                    <strong>Reliable</strong>
                </div>
                <br>
                <div class='has-text-centered'>Heus...</div>
            </div>
        </div>
        <div class="column">
            <div class='box'>
                <div class='has-text-centered'>
                    <strong>Easy</strong>
                </div>
                <br>
                <div class='has-text-centered'>Hoezo dan?</div>
            </div>

        </div>
        <div class="column">
            <div class='box'>
                <div class='has-text-centered'>
                    <strong>Fair</strong>
                </div>
                <br>
                <div class='has-text-centered'>Voor wie?</div>
            </div>
        </div>
    </div>
</section>
{% endblock %}