{% extends "base.html" %}

{% block content %}
<section class='section'>
    <div class='container box has-background-light'>
        <h1 class='title has-text-centered'>About Us</h1>
        <p>We – Afke, Chris, Elma & Wouter – realized that the most important thing while travelling are the people you
            travel with. You can easily choose friends or family to bring along, but sometimes it’s not that easy to
            find that person who ensures you are safe, that person who teaches you about local culture and customs,
            that person who can make or break a trip: your driver.
            With Traxiworld, we offer a way for everyone who is looking for a great holiday to find the best driver: we
            have selected the finest of Uganda. For drivers, Traxiworld is a new way to advertise their services
            directly to potential customers, and, by cutting out the middle-man, providing them with higher earnings.
        </p>
    </div>
    <div class='container box has-background-light'>
        <h1 class='title has-text-centered'>Our Mission</h1>
        <p>
            Traxiworld connects tourists and drivers in Uganda. Our aim is to set an example in the gig economy as a
            platform that doesn’t just connect people, but also ensures that both parties are better off. We guarantee
            a care-free, fun trip for the tourist; and a competitive rate for the driver.
        </p>
    </div>
</section>

{% endblock %}