{% extends "base.html" %}

{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                About Traxi
            </h1>
            <h2 class="subtitle has-text-centered">
                Een leuke pakkende slogan
            </h2>
        </div>
    </div>
</section>
<section>
    <div class="columns">
        <div class="column">
            <div class='box'>
                <div class='has-text-centered'>
                    <strong>Reliable</strong>
                </div>
                <br>
                <div class='has-text-centered'>Heus...</div>
            </div>
        </div>
        <div class="column">
            <div class='box'>
                <div class='has-text-centered'>
                    <strong>Easy</strong>
                </div>
                <br>
                <div class='has-text-centered'>Hoezo dan?</div>
            </div>

        </div>
        <div class="column">
            <div class='box'>
                <div class='has-text-centered'>
                    <strong>Fair</strong>
                </div>
                <br>
                <div class='has-text-centered'>Voor wie?</div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<div class='container'>
    <h1 class='title has-text-centered'>The Traxiworld</h1>
    <h2 class='subtitle has-text-centered'>Discover with traxi</h2>
    <br>
</div>
<section>
    <div class='columns'>
        <div class="column">
            <div class='box'>
                <div class='buttons is-medium'>
                    <a class='button is-rounded is-info'>Cities</a>
                    <a class='button is-rounded is-info'>Experiences</a>
                    <a class='button is-rounded is-info'>Natural Parks</a>
                </div>
                <img src="/static/images/ugandagooglemaps.png">
            </div>
        </div>
        <div class="column">
            <div class='box'>
            <p> the Republic of Uganda (Swahili: Jamhuri ya Uganda),[1] is a landlocked country
                (except for its borders with Lake Victoria and Lake Albert) in East-Central Africa. It is bordered
                to
                the east by Kenya, to the north by South Sudan, to the west by the Democratic Republic of the
                Congo, to
                the south-west by Rwanda, and to the south by Tanzania. The southern part of the country includes a
                substantial portion of Lake Victoria, shared with Kenya and Tanzania. Uganda is in the African
                Great
                Lakes region. Uganda also lies within the Nile basin, and has a varied but generally a modified
                equatorial climate.
                <br>
                Uganda takes its name from the Buganda kingdom, which encompasses a large portion of the south of
                the
                country, including the capital Kampala. The people of Uganda were hunter-gatherers until 1,700 to
                2,300
                years ago, when Bantu-speaking populations migrated to the southern parts of the country.
                <br>
                Beginning in 1894, the area was ruled as a protectorate by the UK, who established administrative
                law
                across the territory. Uganda gained independence from the UK on 9 October 1962. The period since
                then
                has been marked by intermittent conflicts, including a lengthy civil war against the Lord's
                Resistance
                Army in the Northern Region led by Joseph Kony, which has caused hundreds of thousands of
                casualties.[9]
                <br>
                The official languages are English and Swahili, although "any other language may be used as a
                medium of
                instruction in schools or other educational institutions or for legislative, administrative or
                judicial
                purposes as may be prescribed by law."[2][10] Luganda, a central language, is widely spoken across
                the
                country, and several other languages are also spoken including Runyoro, Runyankole, Rukiga, Luo[3]
                and
                Lusoga.

                The president of Uganda is Yoweri Kaguta Museveni, who came to power in January 1986 after a
                protracted
                six-year guerrilla war.
            </p>
        </div>
    </div>
</section>
{% endblock %}