{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
    <div class='tile is-9 is-parent'>
        <div class='is-tile is-child'>
            <h1>Update Profile Information</h1>
            <br>

            <form method="POST" action='' enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class='field'>
                    <label class='label'>Username</label>
                    <div class='control' style='width: 300px'>
                        {{ form.username(class='input') }}
                        {% for error in form.username.errors %}
                        <p class='has-text-danger'>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class='field'>
                    <label class='label'>Email</label>
                    <div class='control' style='width: 300px'>
                        {{ form.email(class='input') }}
                        {% for error in form.email.errors %}
                        <p class='has-text-danger'>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class='field'>
                    <label class='label'>Country</label>
                    <div class='control' style='width: 300px'>
                        {{ form.country(class='input') }}
                    </div>
                </div>
                <div class='field'>
                    <label class='label'>City</label>
                    <div class='control' style='width: 300px'>
                        {{ form.city(class='input') }}
                    </div>
                </div>
                <div class='field'>
                    <label class='label'>About</label>
                    <div class='control' style='width: 300px'>
                        {{ form.about(class='input') }}
                    </div>
                </div>
                <br>
                
                <input class='inputfile' type='file' name='profile_pic' id='profile_pic' />
                <label class='button' for="profile_pic">Choose a file</label>
                <input class='input' type="text" name = "file" id="filename" readonly>
                <br>
                <br>

                {{ form.submit(class='button is-warning') }}

        </div>
        </form>
    </div>
</div>
</div>
<script type='text/javascript' src='/static/js/filename.js'></script>

{% endblock content %}