{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
    <div class='tile is-2 is-vertical is-parent'>
        <div class='tile is-child'>
            <aside class="menu">
                <p class='menu-label'>
                    Administration
                </p>
                <ul class='menu-list'>
                    <li><a>Update Profile</a></li>
                    <li><a>Availability</a></li>
                    <li><a>Bookings</a></li>
                </ul>
                <p class='menu-label'>
                    Transactions
                </p>
                <ul class='menu-list'>
                    <li><a>Payments</a></li>
                </ul>
            </aside>
        </div>
    </div>
    <div class='tile is-9 is-parent'>
        <div class='is-tile is-child'>
            <h1>Update Profile Information</h1>
            <br>
            <form method="POST" action=''>
                {{ form.hidden_tag() }}
                <div class='field'>
                    <label class='label'>Username</label>
                    <div class='control' style='width: 300px'>
                        {{ form.username(class='input') }}
                        {% for error in form.username.errors %}
                        <p class='has-text-danger'>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class='field'>
                    <label class='label'>Email</label>
                    <div class='control' style='width: 300px'>
                        {{ form.email(class='input') }}
                        {% for error in form.email.errors %}
                        <p class='has-text-danger'>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class='field'>
                    <label class='label'>Country</label>
                    <div class='control' style='width: 300px'>
                        {{ form.country(class='input') }}
                    </div>
                </div>
                <div class='field'>
                    <label class='label'>City</label>
                    <div class='control' style='width: 300px'>
                        {{ form.city(class='input') }}
                    </div>
                </div>
                <div class='field'>
                    <label class='label'>About</label>
                    <div class='control' style='width: 300px'>
                        {{ form.about(class='input') }}
                    </div>
                </div>

                <div class="file">
                    <label class="file-label">
                        <input class="file-input" type="file" name="profile_pic">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Choose a file…
                            </span>
                        </span>
                    </label>
                </div>

                {{ form.submit(class='button is-warning') }}

        </div>
        </form>
    </div>
</div>
</div>




{% endblock content %}