{% extends "base.html" %}

{% block content %}
<section class="hero is-primary is-medium has-bg-img">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-indent-1">
        traxiworld
      </h1>
      <h2 class="subtitle has-indent-2">
        find your personal driver
      </h2>
    </div>
  </div>
</section>
<!--<br>--><p class="is-size-7 has-text-right"><a href="https://github.com/traxibv/master_traxi/branches">branch:</a><strong> billyproof</strong></p>
<div class="box is-hidden-mobile has-background-primary">
    <section class="tile is-ancestor is-flex">
        <div class="tile is-parent is-vertical">
            <div class="tile is-child p-icon">
                <i class="icon-055 icon-bg has-indent-1"></i>
                <p class="has-text-weight-bold p-icon">Reliable</p>
                <p class="p-icon">All our drivers are certified and are very experienced.</p>
            </div>
        </div>
        <div class="tile is-parent is-vertical">
            <div class="tile is-child p-icon">
                <i class="icon-268 icon-bg has-indent-1"></i>
                <p class="has-text-weight-bold p-icon">Easy</p>
                <p class="p-icon">Just search, contact and book.</p>
            </div>
        </div>
        <div class="tile is-parent is-vertical">
            <div class="tile is-child p-icon">
                <i class="icon-008 icon-bg has-indent-1"></i>
                <p class="has-text-weight-bold p-icon">Fair</p>
                <p class=" p-icon">Max-Havelaar drivers are the new chocolate.</p>
            </div>
        </div>
    </section>
</div>
<div class="is-small-pad is-hidden-tablet p-icon">
    <i class="icon-bgs has-indent-1"></i>
    <p class="has-text-weight-bold is-size-7 p-icon">Reliable, Easy, Fair<p>
    <p class="is-size-7 p-icon">All our drivers are certified and are very experienced. Just search, contact and book. Max-Havelaar drivers are the new chocolate.<p>
</div>

<div class="tile is-ancestor">
    <div class="tile is-3 is-vertical is-parent">
        <div class="tile is-child box">
            <h1 class='tile'>Select driver</h1>
            <br>
            <div class="select is-primary is-fullwidth">
                <select>
                    <option disabled selected>Select City</option>
                    {% for city in cities %}
                    <option>{{ city }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <br>
            <input class='input is-primary is-fullwidth' placeholder="Start trip" id='startdate'>
            <br>
            <input class='input is-primary is-fullwidth' placeholder="End trip" id='enddate'>
        </div>
    </div>

    <div class="tile is-vertical is-parent">
        {% for driver in drivers %}
        <div class="tile is-child">
            {% include '_driver.html' %}
        </div>
        {% endfor %}
    </div>
</div>
<script>
    $('#startdate').datepicker(); 
    $('#enddate').datepicker(); 
</script>

{% endblock content %}