{% extends "base.html" %}

{% block content %}
<div class='hero'>
  <div class='hero-body'>
    <div class='container'>
      <h1 class="title has-text-centered">Hi, I am {{user.username}}.</h1>
      <h2 class="subtitle has-text-centered">Welcome to my profile!</h2>
    </div>
  </div>
</div>

<section class='section'>
  <figure class="avatar-cropper is-128x128 container">
    <img class='avatar' onerror="this.src='/static/images/blank-profile-picture.png';" src="/static/profile_pics/{{ user.profile_pic_filename }}">
  </figure>
</section>

<section class="tile is-ancestor is-flex">
  <div class="tile is-parent is-vertical">

    <div class='tile is-child box has-background-light'>
      <h2 class="subtitle has-text-centered has-text-weight-bold">About me</h2>
      <p>{{ user.about }}</p>
    </div>
    
    <div class='tile is-child box has-background-light'>
      <h2 class='subtitle has-text-centered has-text-weight-bold'>Reviews</h2>
      {% for review in reviews %}
      {% include '_review.html' %}
      {% endfor %}
      <br>
      <div class='container'>
        {% if current_user.is_authenticated and current_user.has_role('end-user') %}
        <a class="button" href="{{ url_for('drivers.create_review', username=user.username) }}">Create Review</a>
        {% endif %}
      </div>
    </div>

  <div class='tile is-child box has-background-light'>
      <h2 class='subtitle has-text-centered has-text-weight-bold'>Contact</h2>
      <a class='button' href='#'>Send a Message</a>
  </div>
  </div>
</section>

{% endblock %}