{% extends "base.html" %}

{% block content %}
<section class="section">
        <div class="container">
          <h1 class="title">Hi, I am {{user.username}}.</h1>
          <h2 class="subtitle">
            Welcome to my profile!
          </h2>
        </div>
      </section>
      <section class="section">
            <div class="box">
          <h2 class="subtitle">Something little about me !!</h2>
          <p>{{ user.about }}</p>
          </div>
      </section>

      <section class="section">
          <div class="box">
          <h2 class="subtitle">General info:</h2>
          <table class="table">
              <tbody>
                  <tr>
                  <th>Username:</th>
                  <td>{{ user.username }}</td>
                  </tr>
                  <tr>
                  <th>Email:</th>
                  <td>{{ user.email }}</td>
                  </tr>
                  <th>Country:</th>
                  <td>{{ user.country }}</td>
                  <tr>
                  <th>City:</th>
                  <td>{{ user.city }}</td>
                  </tr>
              </tbody>
          </table>
        </div>
      </section>

      <section class="section">
          <div class="box">
            <h2 class="subtitle">Reviews</h2>
            {% for review in reviews %}
            <div class="container is-fluid">
                    <div class="box">
                        {% include '_review.html' %}
                    </div>
            </div>
            {% endfor %}
            


            {% if current_user.is_authenticated %}  
            {% if current_user.has_role('end-user') %}
      <a class="button is-dark" href="{{ url_for('drivers.create_review', username=user.username) }}">Create Review</a>
      {% endif %}
      {% endif %}
    </div>
</section>

{% endblock %}