{% extends "base.html" %}
{% block content %}
<div class="container-fluid">

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="col-md-6">
            <legend>Register as user</legend>
            <div class="form-group">
                {{ form.username(class="from-control form-control-lg", placeholder="Username") }}
            </div>
            <div class="form-group">
                {{ form.email(class="from-control form-control-lg", placeholder="E-Mail") }}
            </div>
            <div class="form-group">
                {{ form.password(class="from-control form-control-lg", placeholder="Password") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password(class="from-control form-control-lg", placeholder="Confirm Password") }}
            </div>
            <div class="form-group">
               {{ form.driver_checkbox() }} {{ form.driver_checkbox.label }}
            </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

    <small class="text-muted">
        Allready Have An Account?<a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
    </small>
</div>
{% endblock %}